@media screen and (max-width: 767px) {
  .project-name h1 {
    font-size: 1.5rem;
    color: #131313;
    text-align: right;
  }

  .project-canvas {
    border: 2px solid #73AD21;
    height: 75vh;
    width: 100vw;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .btn {
    text-align: center;
  }

  .btn a {
    background-color: rgb(37, 130, 236);
    border: 1px solid rgb(37, 130, 236);
    /* border-radius: 10%; */
    color: whitesmoke;
    font-size: 1rem;
    height: 1.5rem;
    width: 5rem;
    text-align: center;
  }

  .project-code {
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}