.History-container {
  padding: 2rem 0rem;
  /* border: 1px solid red; */
}

.History-container h1 {
  font-size: 3rem;
  padding-left: 2rem;
}

.History-content {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid blue; */
}

.History-content p {
  padding: 1rem 2rem;
  margin-left: 2rem;
}

img {
  width: 50vw;
}

@media screen and (max-width: 767px) {
  .History-container h1 {
    font-size: 2rem;
    text-align: center;
    padding: 0;
  }

  .History-content {
    display: block;
    text-align: center;
  }
  
  .History-content p {
    margin-left: 0;
  }

  .History-image {
    text-align: right;
  }

  img {
    height: 40vh;
    width: auto;
  }
}