.Rite-container {
  padding: 2rem;
  /* border: 1px solid red; */
}

.Rite-container h1 {
  font-size: 3rem;
}

.Rite-content {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  /* border: 1px solid blue; */
}

.Rite-container p {
  font-size: 1.5rem;
}

iframe {
  width: 50vw;
  height: 50vh;
}

@media screen and (max-width: 767px) {
  .Rite-container h1 {
    font-size: 2rem;
    text-align: center;
  }

  .Rite-content {
    display: block;
    padding: 0;
    text-align: center;
  }

  iframe {
    width: 80vw;
    height: 40vh;
  }
}